body{
    background-color: rgb(235, 235, 235);
}

.container {
    display: flex;
    justify-content: center;
}
.toolbar_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.toolbar { 
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: rgb(210, 210, 210);
    border-radius: 10px;
}
.sketchpad {
    display: grid;
    grid-template-rows: repeat(16,1fr);
    grid-template-columns: repeat(16,1fr);
    width: 550px;
    height: 550px;
    margin-left: 20px;
    box-shadow: 0px 5px 10px rgb(156, 156, 156);
}

.color_input {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
    /* box-shadow: 0px 0px 5px rgb(142, 142, 142); */
  }
  
  [type="color"] {
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%);
    
}

button {
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    border-radius: 3px;
    /* padding: 6px; */
    width: 90px;
    height: 30px;
    /* font-size: 13px; */
}

button:hover {
    transform: scale(1.05);
    border-color: rgb(107, 103, 103);
}
button.active {
    background-color: rgb(53, 53, 53);
    color: white;
}

.btn_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

h1{
    text-align: center;
    font-size: 3em;
}