/* .sketchpad {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 500px;
    height: 500px;
    margin: auto;
    border: 3px solid black
} */

.sketchpad {
    display: grid;
    grid-template-rows: repeat(16,1fr);
    grid-template-columns: repeat(16,1fr);
    width: 500px;
    height: 500px;
    margin: auto;
    border: 3px solid black;
}

.color_input {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden;
  }
  
  [type="color"] {
    border: 0;
    padding: 0;
    width: 200%;
    height: 200%;
    cursor: pointer;
    transform: translate(-25%, -25%)
}

button {
    background-color: rgb(241, 241, 241);
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px;
    width: 70px;
}

button:hover {
    transform: scale(1.05);
    border-color: rgb(107, 103, 103);
}
button.active {
    background-color: rgb(53, 53, 53);
    color: white;
}

.btn_group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}